{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "singleAttributePerLine": true,
  "bracketSameLine": true,
  "overrides": [
    {
      "files": ["*.html", "*.css", "*.scss"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
