@use 'design-system/assets/sass/utils/functions/units-conversion/units-conversion' as *;
@use 'design-system/assets/sass/utils/configs/config-sass-vars' as *;
@use 'design-system/assets/sass/utils/configs/config-mediaqueries' as *;

@mixin intro-styles {
    margin: var(--intro-text-margin, calculateRem(8px) 0 calculateRem(16px));
    font-weight: var(--intro-font-weight, var(--f-weight-normal));

    @media #{$tablet-portrait} {
        --intro-text-margin: #{calculateRem(16px)} 0 #{calculateRem(24px)};
    }
}
