/* =======
 NS IBE Core Styles
======= */
/* stylelint-disable-next-line scss/dollar-variable-pattern */
/* stylelint-disable property-no-vendor-prefix */
/* RESET CSS */
/* stylelint-disable prettier/prettier */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=range] {
  width: 100%;
  margin: 0;
  background: transparent;
  appearance: none;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* =======
 NS IBE Core Styles
======= */
/* NS BASE STYLES */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  height: 100%;
}

body {
  height: 100%;
  font-size: var(--f-size);
  font-family: var(--f-body);
  color: var(--c-text);
  line-height: var(--f-body-line-height, var(--f-line-height));
  padding: 0;
  margin: 0;
  min-width: 20rem;
  background-color: var(--c-page-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* stylelint-disable-next-line value-keyword-case */
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

[tabindex="-1"]:focus {
  outline: 0;
}

a {
  text-decoration: var(--link-text-decoration, underline);
  text-underline-offset: var(--link-text-underline-offset);
  color: var(--c-link);
  cursor: pointer;
}
a:hover {
  --link-text-decoration: var(--link-text-decoration-hover, inherit);
  --c-link: var(--c-link-hover);
  font-weight: var(--link-hover-font-weight, inherit);
}

[role=button] {
  cursor: pointer;
}

.link--target-blank {
  --link-text-decoration: none;
  --link-text-decoration-hover: none;
}
.link--target-blank::after {
  content: "\e949"/"";
  display: inline-block;
  font-family: var(--f-icons);
  font-weight: normal;
  line-height: 1;
}
.link--target-blank {
  display: inline-flex;
  align-items: var(--accessible-link-valign, center);
  gap: var(--accessible-link-gap, 0.25rem);
}

::selection {
  color: var(--text-selection-color, var(--c-white));
  background: var(--text-selection-background, var(--c-primary));
}

p {
  margin-top: 0;
  margin-bottom: var(--paragraph-margin);
}
p:last-child {
  margin-bottom: var(--paragraph-margin-bottom-last-child, 0);
}

em {
  font-style: italic;
}

sup,
sub {
  font-size: var(--sup-sub-text-fontsize, 0.75em);
}

sup {
  vertical-align: top;
  /* stylelint-disable-next-line no-descending-specificity, selector-max-type */
}
sup a {
  vertical-align: top;
}

sub {
  vertical-align: bottom;
  /* stylelint-disable-next-line no-descending-specificity, selector-max-type */
}
sub a {
  vertical-align: bottom;
}

fieldset {
  width: 100%;
}

input {
  font-family: var(--f-body);
  background-clip: padding-box;
}
input::placeholder {
  font-weight: var(--rf-field-control-placeholder-fontweight);
  color: var(--rf-field-control-placeholder-color);
}

:focus-visible {
  outline: var(--accessibility-outline-width) var(--accessibility-outline-style) var(--accessibility-outline-color);
  outline-offset: var(--accessibility-outline-offset);
  border-radius: var(--accessibility-outline-border-radius);
}

body:not(.keyboard-focus-mode) :focus-visible {
  outline: none;
}

.skip-main {
  font-size: var(--skipmain-button-fontsize, var(--f-size-small));
  z-index: 100000;
  position: absolute;
  top: var(--skipmain-button-position-top, 0.625rem);
  left: var(--skipmain-button-position-left, 1.25rem);
  display: inline-block;
  color: var(--skipmain-button-color, var(--c-secondary));
  text-decoration: none;
  padding: var(--skipmain-button-padding, 0.125rem 0.25rem);
  background-color: var(--skipmain-button-background, var(--c-white));
  transform: translateY(-400%);
}
.skip-main:focus-visible {
  transform: translateY(0);
  transition: all 0.2s;
}

.stretched-hit-area button::after,
.stretched-hit-area a::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: auto;
  background-color: transparent;
}

.page-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 0;
}

#maincontent {
  flex: 1 0 auto;
}

.content-wrap {
  position: relative;
}

.intro {
  margin: var(--intro-text-margin, 0.5rem 0 1rem);
  font-weight: var(--intro-font-weight, var(--f-weight-normal));
}
@media (min-width: 768px) {
  .intro {
    --intro-text-margin: 1rem 0 1.5rem;
  }
}

.context-footnote {
  position: relative;
  font-size: var(--footnote-fontsize, var(--f-size-small));
  color: var(--footnote-color, var(--c-text-normal));
  text-align: left;
  padding-top: 0.5625rem;
  margin-top: var(--footnote-margin-top, 1.5rem);
}
.context-footnote::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 1px;
  width: 5rem;
  background: var(--c-border-darker);
}
.context-footnote .list-style1 li {
  margin: var(--footnote-list-item-margin, 0.4em 0);
}
.context-footnote .list-style1 li::before {
  line-height: 0;
  top: 1em;
}

.dropdown-menu {
  display: none;
}
.dropdown-menu.show {
  display: block;
}

/* stylelint-disable value-keyword-case */
/* stylelint-disable scss/dollar-variable-pattern */
/* stylelint-disable custom/selector-class-pattern */
/* stylelint-disable scss/at-mixin-pattern */
.container-fluid {
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}
.container-fluid > .grid {
  margin-right: 0;
  margin-left: 0;
}
.container-fluid > .grid > .grid-col:first-child {
  padding-left: 0;
}
.container-fluid > .grid > .grid-col:last-child {
  padding-right: 0;
}

.grid--bgcolor-1 {
  background-color: var(--grid-bgcolor-1);
}

.grid--bgcolor-2 {
  background-color: var(--grid-bgcolor-2);
}

.grid--bgcolor-3 {
  background-color: var(--grid-bgcolor-3);
}

.container-wrap {
  max-width: 78rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 992px) {
  .container-wrap {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.container-wrap .container-wrap {
  padding-right: 0;
  padding-left: 0;
}

.grid {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.grid.container-wrap {
  box-sizing: content-box;
}
@media (min-width: 992px) {
  .grid {
    margin-right: -1rem;
    margin-left: -1rem;
  }
}

.grid-col {
  flex: 1 1 0%;
  max-width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 2.25rem;
  box-sizing: border-box;
}
@media (min-width: 992px) {
  .grid-col {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

/************************
    HELPERS SUFFIXES
*************************/
.ds-button[data-anchor] {
  display: inline-flex;
  width: auto;
}

.grid--no-gutter {
  margin-right: 0;
  margin-left: 0;
}
.grid--no-gutter > .grid-col {
  padding-left: 0;
  padding-right: 0;
}

.grid--no-padding-bottom > .grid-col {
  padding-bottom: 0;
}

.grid--margin-bottom {
  margin-bottom: 2.25rem;
}

.grid--margin-top {
  margin-top: 2.25rem;
}

.grid--padding-bottom {
  padding-bottom: 2.25rem;
}

.grid--padding-top {
  padding-top: 2.25rem;
}

.grid--no-wrap {
  flex-wrap: nowrap;
}

.grid--reverse {
  flex-direction: row-reverse;
}

.grid--column {
  flex-direction: column;
}
.grid--column > .grid-col {
  flex-basis: auto;
  max-width: none;
}
.grid--column.grid--reverse {
  flex-direction: column-reverse;
}

.grid--align-center {
  align-items: center;
}
.grid--align-center.grid--column {
  justify-content: center;
}

.grid--align-end {
  align-items: end;
}
.grid--align-end.grid--column {
  justify-content: end;
}

/************************
		GRID BY NUMBER
*************************/
.grid-1 > .grid-col {
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 480px) {
  .grid-xs-1 > .grid-col {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 640px) {
  .grid-sm-1 > .grid-col {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .grid-md-1 > .grid-col {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .grid-lg-1 > .grid-col {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 1248px) {
  .grid-xl-1 > .grid-col {
    flex-basis: 100%;
    max-width: 100%;
  }
}
/************************
		COLS SIZES
*************************/
.col-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.col-first {
  order: -1;
}

.col-last {
  order: 1;
}

.grid-top {
  align-items: flex-start;
}

.col-top {
  align-self: flex-start;
}

.grid-middle {
  align-items: center;
}

.col-middle {
  align-self: center;
}

.grid-bottom {
  align-items: flex-end;
}

.col-bottom {
  align-self: flex-end;
}

@media (min-width: 480px) {
  .col-xs-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xs-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xs-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xs-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xs-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xs-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xs-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xs-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xs-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-xs-first {
    order: -1;
  }
  .col-xs-last {
    order: 1;
  }
}
@media (min-width: 640px) {
  .col-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-sm-first {
    order: -1;
  }
  .col-sm-last {
    order: 1;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-first {
    order: -1;
  }
  .col-md-last {
    order: 1;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-first {
    order: -1;
  }
  .col-lg-last {
    order: 1;
  }
}
@media (min-width: 1248px) {
  .col-xl-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xl-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xl-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xl-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xl-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xl-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xl-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xl-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xl-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-xl-first {
    order: -1;
  }
  .col-xl-last {
    order: 1;
  }
}
/* Helper classes */
button {
  padding: 0;
  font-family: var(--ds-btn-fontfamily);
  color: inherit;
  font-size: inherit;
  background: none;
  border: 0;
}
button:not([disabled], [aria-disabled=true]) {
  cursor: pointer;
}

a.ds-button {
  text-decoration: none;
}

.ds-button {
  --icon-fontsize: var(--ds-btn-icon-fontsize);
  height: var(--ds-btn-height);
  display: inline-flex;
  width: 100%;
  gap: var(--ds-btn-gap, 0.5rem);
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  font-size: var(--ds-btn-fontsize);
  color: var(--ds-btn-color);
  text-transform: none;
  white-space: nowrap;
  font-weight: var(--ds-btn-fontweight);
  line-height: var(--ds-btn-line-height, var(--f-line-height));
  min-width: var(--ds-btn-min-width, auto);
  padding: var(--ds-btn-padding-top-bottom) var(--ds-btn-padding-left-right);
  border-radius: var(--ds-btn-border-radius);
  box-sizing: border-box;
  user-select: none;
  background: var(--ds-btn-background);
  transition: var(--ds-btn-transition);
  border: solid var(--ds-btn-border-width) var(--ds-btn-border-color);
}

.ds-btn-small {
  --ds-btn-height: var(--ds-btn-small-height);
  --ds-btn-fontsize: var(--ds-btn-small-fontsize);
  --ds-btn-icon-fontsize: var(--ds-btn-small-icon-fontsize);
  --ds-btn-border-width: var(--ds-btn-small-border-width, 2px);
  --ds-btn-padding-left-right: var(--ds-btn-small-padding-left-right);
  --ds-btn-padding-top-bottom: var(--ds-btn-small-padding-top-bottom);
}

.ds-btn-large {
  --ds-btn-fontsize: var(--ds-btn-large-fontsize);
  --ds-btn-padding-top-bottom: var(--ds-btn-large-padding-top-bottom);
  --ds-btn-padding-left-right: var(--ds-btn-large-padding-left-right);
}

.ds-btn-action {
  --ds-btn-color: var(--ds-btn-action-color);
  --ds-btn-border-color: var(--ds-btn-action-bordercolor);
  --ds-btn-background: var(--ds-btn-action-background);
}
@media (hover: hover) and (pointer: fine) {
  .ds-btn-action:hover {
    --ds-btn-color: var(--ds-btn-action-color-hover);
    --ds-btn-border-color: var(--ds-btn-action-bordercolor-hover);
    --ds-btn-background: var(--ds-btn-action-background-hover);
  }
}
.ds-btn-action:active {
  --ds-btn-color: var(--ds-btn-action-color-active);
  --ds-btn-border-color: var(--ds-btn-action-bordercolor-active);
  --ds-btn-background: var(--ds-btn-action-background-active);
}
.ds-btn-action[disabled], .ds-btn-action[aria-disabled=true] {
  cursor: default;
  user-select: none;
  pointer-events: none;
}
.ds-btn-action[disabled] {
  --ds-btn-color: var(--ds-btn-action-color-disabled);
  --ds-btn-border-color: var(--ds-btn-action-bordercolor-disabled);
  --ds-btn-background: var(--ds-btn-action-background-disabled);
}

.ds-btn-primary {
  --ds-btn-color: var(--ds-btn-primary-color);
  --ds-btn-border-color: var(--ds-btn-primary-bordercolor);
  --ds-btn-background: var(--ds-btn-primary-background);
}
@media (hover: hover) and (pointer: fine) {
  .ds-btn-primary:hover {
    --ds-btn-color: var(--ds-btn-primary-color-hover);
    --ds-btn-border-color: var(--ds-btn-primary-bordercolor-hover);
    --ds-btn-background: var(--ds-btn-primary-background-hover);
  }
}
.ds-btn-primary:active {
  --ds-btn-color: var(--ds-btn-primary-color-active);
  --ds-btn-border-color: var(--ds-btn-primary-bordercolor-active);
  --ds-btn-background: var(--ds-btn-primary-background-active);
}
.ds-btn-primary[disabled], .ds-btn-primary[aria-disabled=true] {
  cursor: default;
  user-select: none;
  pointer-events: none;
}
.ds-btn-primary[disabled] {
  --ds-btn-color: var(--ds-btn-primary-color-disabled);
  --ds-btn-border-color: var(--ds-btn-primary-bordercolor-disabled);
  --ds-btn-background: var(--ds-btn-primary-background-disabled);
}

.ds-btn-secondary {
  --ds-btn-color: var(--ds-btn-secondary-color);
  --ds-btn-border-color: var(--ds-btn-secondary-bordercolor);
  --ds-btn-background: var(--ds-btn-secondary-background);
}
@media (hover: hover) and (pointer: fine) {
  .ds-btn-secondary:hover {
    --ds-btn-color: var(--ds-btn-secondary-color-hover);
    --ds-btn-border-color: var(--ds-btn-secondary-bordercolor-hover);
    --ds-btn-background: var(--ds-btn-secondary-background-hover);
  }
}
.ds-btn-secondary:active {
  --ds-btn-color: var(--ds-btn-secondary-color-active);
  --ds-btn-border-color: var(--ds-btn-secondary-bordercolor-active);
  --ds-btn-background: var(--ds-btn-secondary-background-active);
}
.ds-btn-secondary[disabled], .ds-btn-secondary[aria-disabled=true] {
  cursor: default;
  user-select: none;
  pointer-events: none;
}
.ds-btn-secondary[disabled] {
  --ds-btn-color: var(--ds-btn-secondary-color-disabled);
  --ds-btn-border-color: var(--ds-btn-secondary-bordercolor-disabled);
  --ds-btn-background: var(--ds-btn-secondary-background-disabled);
}

.ds-btn-inverse {
  --ds-btn-color: var(--ds-btn-inverse-color);
  --ds-btn-border-color: var(--ds-btn-inverse-bordercolor);
  --ds-btn-background: var(--ds-btn-inverse-background);
}
@media (hover: hover) and (pointer: fine) {
  .ds-btn-inverse:hover {
    --ds-btn-color: var(--ds-btn-inverse-color-hover);
    --ds-btn-border-color: var(--ds-btn-inverse-bordercolor-hover);
    --ds-btn-background: var(--ds-btn-inverse-background-hover);
  }
}
.ds-btn-inverse:active {
  --ds-btn-color: var(--ds-btn-inverse-color-active);
  --ds-btn-border-color: var(--ds-btn-inverse-bordercolor-active);
  --ds-btn-background: var(--ds-btn-inverse-background-active);
}
.ds-btn-inverse[disabled], .ds-btn-inverse[aria-disabled=true] {
  cursor: default;
  user-select: none;
  pointer-events: none;
}
.ds-btn-inverse[disabled] {
  --ds-btn-color: var(--ds-btn-inverse-color-disabled);
  --ds-btn-border-color: var(--ds-btn-inverse-bordercolor-disabled);
  --ds-btn-background: var(--ds-btn-inverse-background-disabled);
}

.ds-btn-light {
  --ds-btn-color: var(--ds-btn-light-color);
  --ds-btn-border-color: var(--ds-btn-light-bordercolor);
  --ds-btn-background: var(--ds-btn-light-background);
}
@media (hover: hover) and (pointer: fine) {
  .ds-btn-light:hover {
    --ds-btn-color: var(--ds-btn-light-color-hover);
    --ds-btn-border-color: var(--ds-btn-light-bordercolor-hover);
    --ds-btn-background: var(--ds-btn-light-background-hover);
  }
}
.ds-btn-light:active {
  --ds-btn-color: var(--ds-btn-light-color-active);
  --ds-btn-border-color: var(--ds-btn-light-bordercolor-active);
  --ds-btn-background: var(--ds-btn-light-background-active);
}
.ds-btn-light[disabled], .ds-btn-light[aria-disabled=true] {
  cursor: default;
  user-select: none;
  pointer-events: none;
}
.ds-btn-light[disabled] {
  --ds-btn-color: var(--ds-btn-light-color-disabled);
  --ds-btn-border-color: var(--ds-btn-light-bordercolor-disabled);
  --ds-btn-background: var(--ds-btn-light-background-disabled);
}

.ds-btn-link {
  --ds-btn-border-radius: var(--ds-border-radius);
  --ds-btn-border-width: 0;
  --ds-btn-fontweight: var(--f-weight-normal);
  --ds-btn-padding-top-bottom: 0;
  --ds-btn-padding-left-right: 0;
  --ds-btn-height: auto;
}
.ds-btn-link .ds-button_label {
  text-decoration: var(--ds-btn-link-text-decoration);
  text-underline-offset: var(--link-text-underline-offset);
}
.ds-btn-link:hover {
  --ds-btn-link-text-decoration: var(--ds-btn-link-text-decoration-hover);
  --ds-btn-fontweight: var(--f-weight-bold);
}
.ds-btn-link {
  --ds-btn-color: var(--ds-btn-link-color);
  --ds-btn-border-color: var(--ds-btn-link-bordercolor);
  --ds-btn-background: var(--ds-btn-link-background);
}
@media (hover: hover) and (pointer: fine) {
  .ds-btn-link:hover {
    --ds-btn-color: var(--ds-btn-link-color-hover);
    --ds-btn-border-color: var(--ds-btn-link-bordercolor-hover);
    --ds-btn-background: var(--ds-btn-link-background-hover);
  }
}
.ds-btn-link:active {
  --ds-btn-color: var(--ds-btn-link-color-active);
  --ds-btn-border-color: var(--ds-btn-link-bordercolor-active);
  --ds-btn-background: var(--ds-btn-link-background-active);
}
.ds-btn-link[disabled], .ds-btn-link[aria-disabled=true] {
  cursor: default;
  user-select: none;
  pointer-events: none;
}
.ds-btn-link[disabled] {
  --ds-btn-color: var(--ds-btn-link-color-disabled);
  --ds-btn-border-color: var(--ds-btn-link-bordercolor-disabled);
  --ds-btn-background: var(--ds-btn-link-background-disabled);
}

.ds-btn-loading {
  position: relative;
  display: flex;
  gap: var(--ds-button-loader-gap, 0.5rem);
}
.ds-btn-loading .ds-button_loader {
  position: relative;
  width: var(--ds-button-loader-size, 1.4375rem);
  height: var(--ds-button-loader-size, 1.4375rem);
  background: conic-gradient(transparent 0deg, currentColor 360deg);
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
  animation: buttonLoaderRotate 1s linear infinite;
}
@keyframes buttonLoaderRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.context-h1 {
  font-size: var(--f-size-h1-mobile);
  color: var(--c-title-h1);
  font-weight: var(--f-weight-h1);
  margin-bottom: var(--h1-margin-bottom);
}
.context-h1:not(:first-of-type) {
  margin-top: var(--h1-margin-top);
}
@media (min-width: 640px) {
  .context-h1 {
    font-size: var(--f-size-h1);
  }
}

.context-h2 {
  font-size: var(--f-size-h2-mobile);
  color: var(--c-title-h2);
  font-weight: var(--f-weight-h2);
  margin-top: var(--h2-margin-top);
  margin-bottom: var(--h2-margin-bottom);
}
@media (min-width: 640px) {
  .context-h2 {
    font-size: var(--f-size-h2);
  }
}

.context-h3 {
  font-size: var(--f-size-h3-mobile);
  color: var(--c-title-h3);
  font-weight: var(--f-weight-h3);
  margin-top: var(--h3-margin-top);
  margin-bottom: var(--h3-margin-bottom);
}
@media (min-width: 640px) {
  .context-h3 {
    font-size: var(--f-size-h3);
  }
}

.context-h4 {
  font-size: var(--f-size-h4);
  color: var(--c-title-h4);
  font-weight: var(--f-weight-h4);
  margin-top: var(--h4-margin-top);
  margin-bottom: var(--h4-margin-bottom);
}

.context-h1.color-2,
.context-h2.color-2,
.context-h3.color-2,
.context-h4.color-2 {
  color: var(--c-secondary);
}
.context-h1.color-3,
.context-h2.color-3,
.context-h3.color-3,
.context-h4.color-3 {
  color: var(--c-tertiary);
}

.ds-list .ds-icon {
  position: relative;
  top: 0.125em;
}

.ds-list_list {
  --list-item-bullet-size: 0.4375em;
  --icon-fontsize: var(--f-size);
  display: flex;
  flex-direction: column;
  gap: var(--list-gap, 0.75rem);
}
.ds-list_list li {
  position: relative;
  display: flex;
  font-size: var(--list-item-fontsize, var(--f-size-small));
  gap: var(--list-item-gap, 0.625em);
}

.ds-list_item--disabled {
  color: var(--c-text-secondary);
}

.ds-list_list--style-bullet li::before {
  flex: 0 0 var(--list-item-bullet-size);
  content: "";
  width: var(--list-item-bullet-size);
  height: var(--list-item-bullet-size);
  margin-top: 0.5em;
  border-radius: 50%;
  background-color: var(--c-tertiary);
}

.hide-visually {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.position-relative {
  position: relative;
}

.text-primary {
  color: var(--c-primary);
}

.text-secondary {
  color: var(--c-secondary);
}

.text-tertiary {
  color: var(--c-tertiary);
}

.text-color1 {
  color: var(--c-color1);
}

.text-color2 {
  color: var(--c-color2);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
}

.text-nounderline {
  text-decoration: none;
}

.word-break {
  word-break: break-all;
}

.pad-top {
  padding-top: var(--default-pad);
}

.pad-bottom {
  padding-bottom: var(--default-pad);
}

.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.text-space-gap::after {
  content: " ";
  width: 0;
  height: 0;
}

/* =======
 NS IBE Core Styles
======= */
.dangerous-good {
  display: grid;
  grid-template-areas: "image title" "content content";
  grid-template-columns: auto 1fr;
  border-radius: var(--ds-border-radius-lg);
  align-items: center;
  background-color: var(--c-white);
  box-shadow: var(--ds-shadow-default);
  padding: var(--dangerous-good-panel-padding, 1rem);
}

.dangerous-good_image-wrapper {
  grid-area: image;
  margin-right: var(--dangerous-good-margin-image, 0.875rem);
}

.dangerous-good_title-wrapper {
  grid-area: title;
  display: flex;
  align-items: center;
}

.dangerous-good_content {
  grid-area: content;
}

.dangerous-good_image {
  width: var(--dangerous-good-icon-size-width, 3rem);
  height: var(--dangerous-good-icon-size-height, 3.75rem);
}

.dangerous-good_title {
  font-size: 1.375rem;
}

.dangerous-good_list {
  padding-top: var(--dangerous-good-list-padding-top, 1.0625rem);
}
.dangerous-good_list .dangerous-good_list-item {
  gap: 0.375rem;
}

.dangerous-good_list--cabin {
  padding-bottom: var(--dangerous-good-list-padding-bottom, 0.75rem);
}

.dangerous-good_list-item {
  --list-item-fontsize: var(--f-size);
}
.dangerous-good_list-item::before {
  content: "\e91d"/"";
  display: inline-block;
  font-family: var(--f-icons);
  font-weight: normal;
  line-height: 1;
  color: var(--c-active);
}
.dangerous-good_list-item::before {
  font-size: var(--f-size-x-large);
}
.dangerous-good_list-item {
  display: flex;
  align-items: flex-start;
}

.dangerous-good_list-item--restricted::before {
  content: "\e91b"/"";
  display: inline-block;
  font-family: var(--f-icons);
  font-weight: normal;
  line-height: 1;
  color: var(--c-error);
}

.dangerous-good_note {
  font-size: var(--f-size-tiny);
  color: var(--c-text-secondary);
}

@media (min-width: 480px) {
  .dangerous-good {
    --dangerous-good-panel-padding: 1.5rem;
  }
}
@media (min-width: 1248px) {
  .dangerous-good {
    --dangerous-good-panel-padding: 2rem;
    --dangerous-good-margin-image: 2.875rem;
    --dangerous-good-icon-size-width: 6.5rem;
    --dangerous-good-icon-size-height: 9.5rem;
    --dangerous-good-list-padding-bottom: 1.0625rem;
    --dangerous-good-list-padding-top: 0;
    grid-template-areas: "image title" "image content";
    grid-template-columns: auto 1fr;
    min-height: 16.25rem;
    height: 100%;
    box-sizing: border-box;
  }
  .dangerous-good_image-wrapper {
    display: flex;
    align-items: center;
  }
  .dangerous-good_title {
    padding-bottom: 1.3125rem;
  }
  .dangerous-good_list {
    gap: 1rem;
  }
  .dangerous-good_content--restricted {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.25rem;
  }
  .dangerous-good_note {
    font-size: var(--f-size-small);
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../sass/common.scss%22,%22../ui_plus/icons/webfonts/icomoon/variables.scss%22,%22../sass/utils/mixins/_long-words-handling.scss%22,%22../sass/common/_reset.scss%22,%22../sass/common/_base.scss%22,%22../sass/utils/mixins/_icon-font.scss%22,%22../sass/utils/mixins/_text-selection.scss%22,%22../sass/utils/mixins/_outline-accessibility.scss%22,%22../sass/utils/mixins/_intro.scss%22,%22../sass/cms-grid/_cms-grid-vars.scss%22,%22../sass/cms-grid/_cms-grid-preprocessing.scss%22,%22../sass/cms-grid/_cms-grid-mixins.scss%22,%22../sass/cms-grid/_cms-grid-classes.scss%22,%22../sass/utils/configs/_config-sass-vars.scss%22,%22../sass/utils/_helpers.scss%22,%22../sass/utils/helpers/_buttons.scss%22,%22../sass/utils/mixins/button/_buttons-mixin-vars.scss%22,%22../sass/utils/mixins/button/_buttons-mixin.scss%22,%22../sass/utils/mixins/_hover-only.scss%22,%22../sass/utils/helpers/_headings.scss%22,%22../sass/utils/mixins/_headings.scss%22,%22../sass/utils/helpers/_lists.scss%22,%22../sass/utils/mixins/_hide-visually.scss%22,%22../sass/pages/_dangerous-goods.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;AAAA;AAAA;ACMA;ACAA;ACNA;AASA;AACA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EAiFI;EACA;EACA;EACA;EACA;;;AAIJ;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EAWI;;;AAEJ;EACI;;;AAEJ;AAAA;EAEI;;;AAEJ;AAAA;EAEI;;;AAEJ;EACI;EACA;;;AAIJ;EACI;EACA;EACA;EACA;AACA;EACA;;;AAEJ;EACI;AACA;EACA;;;AAEJ;EACI;EACA;EACA;EACA;EACA;;;AAKJ;EACI;;;AAKJ;EACI;;;AH/JJ;AAAA;AAAA;AIAA;AASA;EACI;EACA;EACA;EACA;;;AAEJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;AACA;EACA;EACA;;;AAEJ;EACI;;;AAEJ;EACI;EACA;EACA;EACA;;AACA;EACI;EACA;EACA;;;AAGR;EACI;;;AAIJ;EACI;EACA;;AC9BI;EACI;EACA;EACA;EACA;EACA;;ADuBZ;EAMI;EACA;EACA;;;AEnDA;EACI,OFsDI;EErDJ,YFsDS;;;AAEjB;EACI;EACA;;AACA;EACI;;;AAGR;EACI;;;AAEJ;AAAA;EAEI;;;AAEJ;EACI;AACA;;AACA;EACI;;;AAGR;EACI;AACA;;AACA;EACI;;;AAGR;EACI;;;AAEJ;EACI;EACA;;AACA;EACI;EACA;;;AAKR;EGhGI;EACA,gBAJiB;EAKjB,eAJwB;;;AHwGxB;EACI;;;AAKR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AACA;EACI;EACA;;;AAoBJ;AAAA;EAEI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAKR;EACI;EACA;EACA;EACA;EACA;;;AAEJ;EAEI;;;AAEJ;EACI;;;AAEJ;EIhLI;EACA;;AAEA;EJ6KJ;II5KQ;;;;AJ+KR;EACI;EACA;EACA;EACA;EACA;EACA;;AACA;EAEI;EACA;EACA;EACA;EACA;EACA;EACA;;AAGA;EACI;;AACA;EACI;EACA;;;AAOhB;EACI;;AACA;EACI;;;AKxNR;ACIA;ACJA;AACA;ACOA;EACI;EACA;EACA;EACA;EACA;;AACA;EACI;EACA;;AAEI;EACI;;AAEJ;EACI;;;AAQZ;EACI,kBHWe;;;AGZnB;EACI,kBHWe;;;AGZnB;EACI,kBHWe;;;AGRvB;ED4DI,WEnFkB;EFoFlB,eEnFe;EFoFf,cEpFe;EFqFf;EACA;;AAEA;EClEJ;IDmEQ,cExFiB;IFyFjB,eEzFiB;;;ADyBrB;EACI;EACA;;;AAKR;EACI;EACA;EACA;EACA;EACA;;AACA;EACI;;AAIJ;EAXJ;IAYQ;IACA;;;;AAKR;EACI;EACA;EACA;EACA;EACA,gBH1DiB;EG2DjB;;AAGA;EATJ;IAUQ,eHhEI;IGiEJ,cHjEI;;;;AGqEZ;AAAA;AAAA;AAIA;EACI;EACA;;;AAMJ;EACI;EACA;;AACA;EACI;EACA;;;AAGR;EACI;;;AAEJ;EACI,eH3FY;;;AG6FhB;EACI,YH9FY;;;AGgGhB;EACI,gBHjGY;;;AGmGhB;EACI,aHpGY;;;AG0GhB;EACI;;;AAKJ;EACI;;;AAEJ;EACI;;AACA;EACI;EACA;;AAEJ;EACI;;;AAOR;EACI;;AACA;EACI;;;AAGR;EACI;;AACA;EACI;;;AAIR;AAAA;AAAA;ADlIQ;EAGI;EACA;;;AAbJ;EASA;IAGI;IACA;;;AAbJ;EASA;IAGI;IACA;;;AAbJ;EASA;IAGI;IACA;;;AAbJ;EASA;IAGI;IACA;;;AAbJ;EASA;IAGI;IACA;;;ACyIZ;AAAA;AAAA;ADjIQ;EACI;EACA;;;AAFJ;EACI;EACA;;;AAFJ;EACI;EACA;;;AAFJ;EACI;EACA;;;AAFJ;EACI;EACA;;;AAFJ;EACI;EACA;;;AAFJ;EACI;EACA;;;AAFJ;EACI;EACA;;;AAFJ;EACI;EACA;;;AAFJ;EACI;EACA;;;AAFJ;EACI;EACA;;;AAFJ;EACI;EACA;;;AAOR;EACI;;;AAEJ;EACI;;;AAoBA;EACI,aF9CA;;;AEkDJ;EACI,YFnDA;;;AE6CJ;EACI,aF9CA;;;AEkDJ;EACI,YFnDA;;;AE6CJ;EACI,aF9CA;;;AEkDJ;EACI,YFnDA;;;AETJ;EAqBA;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAgBR;IACI;;EAEJ;IACI;;;AA3CA;EAqBA;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAgBR;IACI;;EAEJ;IACI;;;AA3CA;EAqBA;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAgBR;IACI;;EAEJ;IACI;;;AA3CA;EAqBA;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAgBR;IACI;;EAEJ;IACI;;;AA3CA;EAqBA;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAFJ;IACI;IACA;;EAgBR;IACI;;EAEJ;IACI;;;AGzDR;ACSA;EACI;EACA,aCCgB;EDAhB;EACA;EACA;EACA;;AACA;EACI;;;AAGR;EACI;;;AAIJ;EACI;EE6CA,QD5DY;EC6DZ;EACA;EACA;EACA;EACA;EACA;EACA,WDjEc;ECkEd,OD/DW;ECgEX;EACA;EACA,aDpEgB;ECqEhB;EACA;EACA,SD9Da;EC+Db,eDnEmB;ECoEnB;EACA;EACA,YDrEgB;ECsEhB,YDlEgB;ECmEhB;;;AF3DJ;EEiEI;EACA;EACA;EACA;EACA;EACA;;;AFnEJ;EEuEI;EACA;EACA;;;AFpEJ;EEJI;EACA;EACA;;ACjCA;EACI;IDoCA;IACA;IACA;;;AAIJ;EACI;EACA;EACA;;AAIJ;EAEI;EACA;EACA;;AAEJ;EACI;EACA;EACA;;;AFrBR;EEPI;EACA;EACA;;ACjCA;EACI;IDoCA;IACA;IACA;;;AAIJ;EACI;EACA;EACA;;AAIJ;EAEI;EACA;EACA;;AAEJ;EACI;EACA;EACA;;;AFlBR;EEVI;EACA;EACA;;ACjCA;EACI;IDoCA;IACA;IACA;;;AAIJ;EACI;EACA;EACA;;AAIJ;EAEI;EACA;EACA;;AAEJ;EACI;EACA;EACA;;;AFfR;EEbI;EACA;EACA;;ACjCA;EACI;IDoCA;IACA;IACA;;;AAIJ;EACI;EACA;EACA;;AAIJ;EAEI;EACA;EACA;;AAEJ;EACI;EACA;EACA;;;AFZR;EEhBI;EACA;EACA;;ACjCA;EACI;IDoCA;IACA;IACA;;;AAIJ;EACI;EACA;EACA;;AAIJ;EAEI;EACA;EACA;;AAEJ;EACI;EACA;EACA;;;AFTR;EEoKI;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI,iBDvEmB;ECwEnB;;AAEJ;EACI;EACA;;AFjLR;EEnBI;EACA;EACA;;ACjCA;EACI;IDoCA;IACA;IACA;;;AAIJ;EACI;EACA;EACA;;AAIJ;EAEI;EACA;EACA;;AAEJ;EACI;EACA;EACA;;;AFNR;EE4NI;EACA;EACA,KDtGgB;;ACuGhB;EAxBA;EACA,ODjFiB;ECkFjB,QDlFiB;ECmFjB;EACA;EACA;EACA;EACA;;AAEA;EACI;IACI;;EAEJ;IACI;;;;AE1QZ;ECaQ;EACA;EACA;EACA;;AACA;EACI;;AAGJ;EDrBR;ICsBY;;;;ADnBZ;ECsBQ;EACA;EACA;EACA;EACA;;AAEA;ED5BR;IC6BY;;;;AD1BZ;EC6BQ;EACA;EACA;EACA;EACA;;AAEA;EDnCR;ICoCY;;;;ADjCZ;ECoCQ;EACA;EACA;EACA;EACA;;;AD/BJ;AAAA;AAAA;AAAA;EACI;;AAEJ;AAAA;AAAA;AAAA;EACI;;;AErBJ;EACI;EACA;;;AAGR;EACI;EACA;EAEA;EACA;EACA;;AACA;EACI;EACA;EACA;EACA;;;AAGR;EACI;;;AAMI;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;;APXZ;EQPQ;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;ARER;EACI;;;AAKJ;EACI;;;AAEJ;EACI;;;AAEJ;EACI;;;AAEJ;EACI;;;AAEJ;EACI;;;AAKJ;EACI;;;AAEJ;EACI;;;AAEJ;EACI;;;AAKJ;EACI;;;AAEJ;EACI;;;AAEJ;EACI;;;AAEJ;EACI;;;AAKJ;EACI;;;AAEJ;EACI;;;AAIJ;EACI;;;AAIJ;EACI;;;AAMA;EACI;EACA;EACA;;;AdzGR;AAAA;AAAA;AuBCA;EACI;EACA,qBACI;EAEJ;EACA;EACA;EACA;EACA;EACA;;;AAEJ;EACI;EACA;;;AAEJ;EACI;EACA;EACA;;;AAEJ;EACI;;;AAEJ;EACI;EACA;;;AAEJ;EACI;;;AAEJ;EACI;;AACA;EACI;;;AAGR;EACI;;;AAEJ;EACI;;AlBhCI;EACI;EACA;EACA;EACA;EACA;EAGI,OkB0B2B;;AACvC;EACI;;AALR;EAOI;EACA;;;AlBvCI;EACI;EACA;EACA;EACA;EACA;EAGI,OkBkC2B;;;AAE3C;EACI;EACA;;;AAGJ;EACI;IACI;;;AAIR;EACI;IACI;IACA;IACA;IACA;IACA;IACA;IAEA,qBACI;IAEJ;IACA;IACA;IACA;;EAEJ;IACI;IACA;;EAEJ;IACI;;EAEJ;IACI;;EAEJ;IACI;IACA;IACA;;EAEJ;IACI%22,%22file%22:%22common.css%22%7D */
