:root{
  --c-border-darker:#1b1b1b;
  --c-border-dark:#494949;
  --c-border:#d9d9d9;
  --c-calendar-bg-low-price:#b8e6d4;
  --c-calendar-bg-medium-price:#ffecb7;
  --c-calendar-bg-high-price:#ffc3b6;
  --c-calendar-bg-selected:#1b1b1b;
  --c-calendar-bg-light:#fff;
  --c-calendar-bg-hover:#f5f5f5;
  --c-fare-type-1:#f00;
  --c-fare-type-2:#b50080;
  --c-fare-type-3:#ff5c00;
  --c-fare-type-4:#D7F1F7;
  --c-fare-type-4-bg-strong:#5C6E71;
  --c-fare-type-5:#5af9bd;
  --c-fare-tier-2:#393838;
  --c-fare-type-1-border:#f00;
  --c-fare-type-2-border:#b50080;
  --c-fare-type-3-border:#ff5c00;
  --c-fare-tier-2-border:#393838;
  --c-fare-type-1-bg-strong:#f00;
  --c-fare-type-1-bg-light:#fff3f3;
  --c-fare-type-2-bg-strong:#b50080;
  --c-fare-type-2-bg-light:#fce4ec;
  --c-fare-type-3-bg-strong:#ef5b06;
  --c-fare-type-3-bg-light:#fff3e0;
  --c-fare-tier-2-bg-stronger:#1b1b1b;
  --c-fare-tier-2-bg-strong:#5af9bd;
  --c-fare-tier-2-bg-light:#b4fce1;
  --c-white:#fff;
  --c-white-rgb:255, 255, 255;
  --c-brand:#d90000;
  --c-primary:#1b1b1b;
  --c-primary-rgb:27, 27, 27;
  --c-primary-lighter:#969696;
  --c-secondary:#f00;
  --c-secondary-lighter:#ffc3b6;
  --c-secondary-darker:#d90000;
  --c-secondary-darkest:#c20000;
  --c-tertiary:#11a1bf;
  --c-tertiary-lighter:#89d4e1;
  --c-tertiary-darker:#177f8c;
  --c-color1:var(--c-primary);
  --c-color2:#5a5a5a;
  --c-color2-rgb:90, 90, 90;
  --c-color3:#d9d9d9;
  --c-color4:#fafafa;
  --c-color4-rgb:250, 250, 250;
  --c-color5:#f5f5f5;
  --c-color5-rgb:245, 245, 245;
  --c-color6:#23c847;
  --c-color7:#b4fce1;
  --c-color8:#12ab70;
  --c-color9:#b4fce1;
  --c-color10:#f8fcf8;
  --c-color11:#f6c400;
  --c-color12:#ffecb7;
  --c-color13:#fff3e0;
  --c-color14:#ff1c46;
  --c-color15:#ffc3b6;
  --c-color16:#fff3f3;
  --c-color17:#ff3093;
  --c-color18:#fce4ec;
  --c-color19:#969696;
  --c-color20:#e9e9e9;
  --c-color21:#494949;
  --c-color21-rgb:73, 73, 73;
  --c-color22:#6c6c6c;
  --c-white-alpha:rgba(var(--c-white-rgb), 0.4);
  --c-color4-alpha:rgba(var(--c-color4-rgb), 0.15);
  --c-color21-alpha:rgba(var(--c-color21-rgb), 0.3);
  --c-primary-alpha:rgba(var(--c-primary-rgb), 0.4);
  --c-primary-alpha-dark:rgba(var(--c-primary-rgb), 0.7);
  --grid-bgcolor-1:var(--c-white);
  --grid-bgcolor-2:#ddd;
  --grid-bgcolor-3:#eee;
  --c-page-bg:#fafafa;
  --c-page-bg-lighter:#fff;
  --c-page-bg-dark:#1b1b1b;
  --c-page-overlay:rgba(27, 27, 27, 0.7);
  --app-gutter-sides:1rem;
}
@media (min-width:992px){
  :root{
    --app-gutter-sides:2rem;
  }
}

:root{
  --c-seat-1:#5a5a5a;
  --c-seat-2:#ec4079;
  --c-seat-3:#492969;
  --c-seat-4:#00a7a7;
  --c-seat-5:#00a7a7;
  --c-seat-default:#5a5a5a;
  --c-seat-emergency:#ffa625;
  --c-seatmap-services:#fafafa;
  --c-seat-current:#23c847;
  --c-seat-selected:#23c847;
  --c-seat-unavailable:#f5f5f5;
  --c-section-offers:#f00;
  --c-section-sky:#89d4e1;
  --c-section-booking:#1d9bf0;
  --c-section-info:#ff3093;
  --c-section-lifemiles:linear-gradient(180deg, #2b3c46, #177f8c);
  --c-section-credits:linear-gradient(180deg, #07904c, #39ff94);
  --c-section-avianca:linear-gradient(180deg, #f00, #b50080);
  --c-section-fare-business:linear-gradient(180deg, #2b3c46, #5a8098);
  --c-disable-text:#5a5a5a;
  --c-disable-border:#d9d9d9;
  --c-disable-bg:#f5f5f5;
  --c-active:#23c847;
  --c-active-rgb:35, 200, 71;
  --c-active-dark:#1ea93c;
  --c-success:#107f28;
  --c-success-light:#1ea93c;
  --c-success-background:#eefbf1;
  --c-warning:#ef5b06;
  --c-warning-light:#c55000;
  --c-warning-background:#fff3e0;
  --c-warning-text:#88431c;
  --c-error:#ff1c46;
  --c-error-text:#c20000;
  --c-error-background:#fff3f3;
  --c-info:#177f8c;
  --c-info-dark:#0e4c54;
  --c-info-background:#daf1f4;
  --c-text:#1b1b1b;
  --c-text-secondary:#5a5a5a;
  --c-text-light:#d9d9d9;
  --c-text-lighter:#fff;
  --c-link:#177f8c;
  --c-link-hover:#0e4c54;
  --c-link-active:#0e4c54;
  --c-link-visited:#4b1bbf;
  --link-text-underline-offset:0.25em;
  --c-title-h1:#1b1b1b;
  --c-title-h2:#1b1b1b;
  --c-title-h3:#1b1b1b;
  --c-title-h4:#1b1b1b;
  --c-title-h5:#1b1b1b;
  --accessibility-outline-width:0.125rem;
  --accessibility-outline-style:solid;
  --accessibility-outline-color:#1d9bf0;
  --accessibility-outline-offset:0.125rem;
  --accessibility-outline-border-radius:0.125rem;
  --ds-border-radius:0.25rem;
  --ds-border-radius-md:0.5rem;
  --ds-border-radius-lg:1rem;
  --ds-shadow-light:0 0 6px 0 rgba(var(--c-color2-rgb), 0.15);
  --ds-shadow-default:0 2px 20px 2px rgba(var(--c-color21-rgb), 0.25);
  --ds-shadow-dark:0 2px 32px 8px var(--c-primary-alpha);
  --ds-box-shadow-lg:0 2px 12px 0 rgba(var(--c-primary-rgb), 0.15);
  --ds-box-shadow-lg-hover:0 0 20px 0 rgba(var(--c-primary-rgb), 0.3);
  --ds-box-shadow:0 0 6px 0 rgba(var(--c-primary-rgb), 0.2);
  --ds-btn-height:3.25rem;
  --ds-btn-fontfamily:var(--f-title);
  --ds-btn-fontsize:var(--f-size-large);
  --ds-btn-icon-fontsize:var(--f-size-x-large);
  --ds-btn-fontweight:var(--f-weight-bold);
  --ds-btn-border-width:2px;
  --ds-btn-border-radius:100vh;
  --ds-btn-padding-top-bottom:0;
  --ds-btn-padding-left-right:1.5rem;
  --ds-btn-small-height:2rem;
  --ds-btn-small-fontsize:var(--f-size-small);
  --ds-btn-small-icon-fontsize:var(--f-size);
  --ds-btn-small-padding-top-bottom:0;
  --ds-btn-small-padding-left-right:1rem;
  --ds-btn-large-fontsize:var(--f-size-x-x-large);
  --ds-btn-large-padding-top-bottom:0;
  --ds-btn-large-padding-left-right:0.75rem;
  --ds-btn-action-color:var(--c-white);
  --ds-btn-action-background:var(--c-primary);
  --ds-btn-action-bordercolor:var(--c-primary);
  --ds-btn-action-color-hover:var(--c-white);
  --ds-btn-action-background-hover:var(--c-color21);
  --ds-btn-action-bordercolor-hover:var(--c-color21);
  --ds-btn-action-color-active:var(--c-white);
  --ds-btn-action-background-active:var(--c-color22);
  --ds-btn-action-bordercolor-active:var(--c-color22);
  --ds-btn-action-color-disabled:var(--c-disable-text);
  --ds-btn-action-background-disabled:var(--c-disable-border);
  --ds-btn-action-bordercolor-disabled:var(--c-disable-border);
  --ds-btn-primary-color:var(--c-white);
  --ds-btn-primary-background:var(--c-primary);
  --ds-btn-primary-bordercolor:var(--c-primary);
  --ds-btn-primary-color-hover:var(--c-white);
  --ds-btn-primary-background-hover:var(--c-color21);
  --ds-btn-primary-bordercolor-hover:var(--c-color21);
  --ds-btn-primary-color-active:var(--c-white);
  --ds-btn-primary-background-active:var(--c-color22);
  --ds-btn-primary-bordercolor-active:var(--c-color22);
  --ds-btn-primary-color-disabled:var(--c-disable-text);
  --ds-btn-primary-background-disabled:var(--c-disable-border);
  --ds-btn-primary-bordercolor-disabled:var(--c-disable-border);
  --ds-btn-secondary-color:var(--c-primary);
  --ds-btn-secondary-background:var(--c-white);
  --ds-btn-secondary-bordercolor:var(--c-primary);
  --ds-btn-secondary-color-hover:var(--c-primary);
  --ds-btn-secondary-background-hover:var(--c-color20);
  --ds-btn-secondary-bordercolor-hover:var(--c-color21);
  --ds-btn-secondary-color-active:var(--c-primary);
  --ds-btn-secondary-background-active:var(--c-color3);
  --ds-btn-secondary-bordercolor-active:var(--c-primary);
  --ds-btn-secondary-color-disabled:var(--c-disable-text);
  --ds-btn-secondary-background-disabled:var(--c-disable-border);
  --ds-btn-secondary-bordercolor-disabled:var(--c-disable-border);
  --ds-btn-inverse-color:var(--c-white);
  --ds-btn-inverse-background:var(--c-secondary);
  --ds-btn-inverse-bordercolor:var(--c-secondary);
  --ds-btn-inverse-color-hover:var(--c-white);
  --ds-btn-inverse-background-hover:var(--c-secondary-darker);
  --ds-btn-inverse-bordercolor-hover:var(--c-secondary-darker);
  --ds-btn-inverse-color-active:var(--c-white);
  --ds-btn-inverse-background-active:var(--c-secondary-darkest);
  --ds-btn-inverse-bordercolor-active:var(--c-secondary-darkest);
  --ds-btn-inverse-color-disabled:var(--c-disable-text);
  --ds-btn-inverse-background-disabled:var(--c-disable-border);
  --ds-btn-inverse-bordercolor-disabled:var(--c-disable-border);
  --ds-btn-light-color:var(--c-white);
  --ds-btn-light-background:var(--c-tertiary);
  --ds-btn-light-bordercolor:var(--c-tertiary);
  --ds-btn-light-color-hover:var(--c-white);
  --ds-btn-light-background-hover:var(--c-tertiary-darker);
  --ds-btn-light-bordercolor-hover:var(--c-tertiary-darker);
  --ds-btn-light-color-active:var(--c-white);
  --ds-btn-light-background-active:var(--c-tertiary);
  --ds-btn-light-bordercolor-active:var(--c-tertiary);
  --ds-btn-light-color-disabled:var(--c-disable-text);
  --ds-btn-light-background-disabled:var(--c-disable-border);
  --ds-btn-light-bordercolor-disabled:var(--c-disable-border);
  --ds-btn-link-color:var(--c-link);
  --ds-btn-link-background:none;
  --ds-btn-link-bordercolor:transparent;
  --ds-btn-link-text-decoration:underline;
  --ds-btn-link-color-hover:var(--c-link-hover);
  --ds-btn-link-background-hover:none;
  --ds-btn-link-bordercolor-hover:transparent;
  --ds-btn-link-text-decoration-hover:underline;
  --ds-btn-link-color-active:var(--c-link-active);
  --ds-btn-link-background-active:none;
  --ds-btn-link-bordercolor-active:transparent;
  --ds-btn-link-text-decoration-active:none;
  --ds-btn-link-color-disabled:var(--c-disable-text);
  --ds-btn-link-background-disabled:none;
  --ds-btn-link-bordercolor-disabled:transparent;
  --ds-dropdown-content-padding-y:0.5rem;
  --ds-dropdown-content-padding-x:1rem;
  --ds-dropdown-item-gap:1rem;
  --ds-dropdown-item-padding-y:0.75rem;
  --ds-dropdown-item-padding-x:1rem;
  --ds-dropdown-option-image-width:1.375rem;
  --ds-dropdown-option-image-border-radius:0.125rem;
  --rf-field-control-height:4rem;
  --rf-field-control-color:var(--c-text);
  --rf-field-control-color-error:var(--c-error-text);
  --rf-field-control-pad-top:0.75rem;
  --rf-field-control-pad-bottom:0.75rem;
  --rf-field-control-pad-left:1rem;
  --rf-field-control-pad-right:1rem;
  --rf-field-control-border-radius:var(--ds-border-radius);
  --rf-field-control-border-width:0.0625rem;
  --rf-field-control-border-color:#949494;
  --rf-field-control-border-color-hover:var(--c-active-dark);
  --rf-field-control-border-color-error:var(--c-error);
  --rf-field-control-bg:var(--c-white);
  --rf-field-control-label-color-error:var(--c-error-text);
  --rf-field-control-icon-size:var(--f-size-large);
  --rf-field-control-icon-right-size:var(--f-size);
  --rf-field-control-icon-margin:0.5rem;
  --rf-field-control-has-icon-padding:calc(var(--rf-field-control-pad-left) + var(--rf-field-control-icon-size) + var(--rf-field-control-icon-margin));
  --rf-field-control-has-icon-right-padding:calc(var(--rf-field-control-pad-right) + var(--rf-field-control-icon-right-size) + var(--rf-field-control-icon-margin));
  --rf-field-control-readonly-color:var(--c-disable-text);
  --rf-field-control-readonly-bg:var(--c-disable-bg);
  --rf-field-control-disabled-color:#c4c8c5;
  --rf-field-control-disabled-bg:var(--c-disable-bg);
  --rf-field-control-disabled-border-color:var(--c-disable-border);
  --rf-field-control-placeholder-color:var(--c-text-secondary);
  --rf-field-control-placeholder-fontweight:var(--f-weight-normal);
  --f-size-h1:var(--f-size-x-x-large);
  --f-size-h1-mobile:1.375rem;
  --f-size-h2:var(--f-size-large);
  --f-size-h2-mobile:var(--f-size-large);
  --f-size-h3:var(--f-size-medium);
  --f-size-h3-mobile:var(--f-size-medium);
  --f-size-h4:var(--f-size-medium);
  --f-weight-h1:var(--f-weight-bold);
  --f-weight-h2:var(--f-weight-bold);
  --f-weight-h3:var(--f-weight-medium);
  --f-weight-h4:var(--f-weight-normal);
  --h1-margin-top:0.75rem;
  --h2-margin-top:2.5em;
  --h3-margin-top:2em;
  --h4-margin-top:2.4em;
  --h1-margin-bottom:1rem;
  --h2-margin-bottom:0.75rem;
  --h3-margin-bottom:1em;
  --h4-margin-bottom:1em;
  --font-name:"Red Hat Display";
  --font-filename:var(--font-name);
  --font-sanserif:"Red Hat Display";
  --font-icon-name:"avianca-icons";
  --f-body:var(--font-name), sans-serif;
  --f-title:var(--font-sanserif), sans-serif;
  --f-icons:var(--font-icon-name);
  --f-line-height:1.323;
  --f-line-height-large:1.5;
  --paragraph-margin:1.5rem;
  --f-size-x-tiny:0.625rem;
  --f-size-tiny:0.75rem;
  --f-size-small:0.875rem;
  --f-size:1rem;
  --f-size-medium:1.125rem;
  --f-size-large:1.25rem;
  --f-size-x-large:1.5rem;
  --f-size-x-x-large:1.75rem;
  --f-size-huge:2rem;
  --f-size-x-huge:2.25rem;
  --f-size-x-x-huge:2.75rem;
  --f-size-gigant:3.25rem;
  --f-weight-light:300;
  --f-weight-normal:400;
  --f-weight-medium:500;
  --f-weight-semibold:600;
  --f-weight-bold:700;
  --f-weight-xbold:900;
  --f-iconsize-sm:1.25rem;
  --f-iconsize:1.5rem;
  --f-iconsize-md:2.5rem;
  --f-iconsize-lg:3rem;
  --f-iconsize-xlg:4rem;
  --f-iconsize-xxlg:4.5rem;
  --zindex-page-loader:1090;
  --zindex-modal:1070;
  --zindex-popover:1050;
  --zindex-main-header-toggle:1070;
  --zindex-offcanvas:1070;
  --zindex-main-header:1051;
  --zindex-modal-overlay:1050;
  --zindex-scrolltop:1024;
  --zindex-tooltip:1016;
  --zindex-toast:1016;
  --zindex-flow-header-collapsed:1008;
  --zindex-amount-summary-when-cart-opened:1008;
  --zindex-overlay:1004;
  --zindex-dropdown:1000;
}

/*# sourceMappingURL=core-theme.css.map */