@use 'sass:string';

$icomoon-font-family: 'avianca-icons' !default;
$icomoon-font-path: 'fonts/fonts' !default;

// variables
/* stylelint-disable-next-line scss/dollar-variable-pattern */
$icon-accessibility-circle: string.unquote('"\\e91f"');
$icon-accessibility: string.unquote('"\\e92b"');
$icon-account-credit-outline: string.unquote('"\\e935"');
$icon-add-cart: string.unquote('"\\e96e"');
$icon-add-passengers: string.unquote('"\\e9c2"');
$icon-airplane-cancel: string.unquote('"\\e929"');
$icon-airplane-left-circle: string.unquote('"\\e920"');
$icon-airplane-left: string.unquote('"\\e922"');
$icon-airplane-right-circle: string.unquote('"\\e921"');
$icon-airplane-right: string.unquote('"\\e923"');
$icon-airport: string.unquote('"\\e926"');
$icon-alert-important: string.unquote('"\\e91a"');
$icon-alert-notification-off: string.unquote('"\\e9fd"');
$icon-alert-notification-on: string.unquote('"\\e9fe"');
$icon-alert-notification: string.unquote('"\\e9fc"');
$icon-alert-report: string.unquote('"\\e918"');
$icon-alert: string.unquote('"\\e917"');
$icon-analytics: string.unquote('"\\e9bc"');
$icon-arrow-right: string.unquote('"\\e90c"');
$icon-arrow-single-down: string.unquote('"\\e90a"');
$icon-arrow-single-left: string.unquote('"\\e908"');
$icon-arrow-single-right: string.unquote('"\\e909"');
$icon-arrow-single-up: string.unquote('"\\e90b"');
$icon-arrow-thin-down: string.unquote('"\\e9b3"');
$icon-arrow-thin-left: string.unquote('"\\e96a"');
$icon-arrow-thin-up: string.unquote('"\\e9b2"');
$icon-arrow-triangle-down: string.unquote('"\\e906"');
$icon-arrow-triangle-left: string.unquote('"\\e904"');
$icon-arrow-triangle-right: string.unquote('"\\e905"');
$icon-arrow-triangle-up: string.unquote('"\\e907"');
$icon-autorenew: string.unquote('"\\e900"');
$icon-avianca-symbol: string.unquote('"\\e95a"');
$icon-baby-car: string.unquote('"\\e901"');
$icon-backpack: string.unquote('"\\e91c"');
$icon-baggage-cabin: string.unquote('"\\e995"');
$icon-baggage-carry-on: string.unquote('"\\e925"');
$icon-baggage: string.unquote('"\\e990"');
$icon-baggages: string.unquote('"\\e994"');
$icon-bike: string.unquote('"\\e94e"');
$icon-blind: string.unquote('"\\e980"');
$icon-block: string.unquote('"\\e928"');
$icon-boarding-pass: string.unquote('"\\e938"');
$icon-bus: string.unquote('"\\e93d"');
$icon-cake: string.unquote('"\\e937"');
$icon-calendar-event: string.unquote('"\\e96f"');
$icon-calendar-month: string.unquote('"\\e95c"');
$icon-calendar-week: string.unquote('"\\e95d"');
$icon-calendar: string.unquote('"\\e964"');
$icon-car: string.unquote('"\\e958"');
$icon-cart: string.unquote('"\\e959"');
$icon-check-circle-filled: string.unquote('"\\e914"');
$icon-check-circle-outline: string.unquote('"\\e910"');
$icon-check: string.unquote('"\\e91d"');
$icon-child: string.unquote('"\\e97b"');
$icon-clock: string.unquote('"\\e930"');
$icon-coffee: string.unquote('"\\e9b7"');
$icon-communications: string.unquote('"\\e9bd"');
$icon-copy: string.unquote('"\\e9a6"');
$icon-country: string.unquote('"\\e93c"');
$icon-credit-card: string.unquote('"\\e94b"');
$icon-cross-circle-filled: string.unquote('"\\e913"');
$icon-cross-circle-outline: string.unquote('"\\e955"');
$icon-cross: string.unquote('"\\e91b"');
$icon-currency-circle: string.unquote('"\\e9d5"');
$icon-currency: string.unquote('"\\e9d6"');
$icon-delete: string.unquote('"\\e9bb"');
$icon-directions-boat: string.unquote('"\\e956"');
$icon-doble-seat: string.unquote('"\\e967"');
$icon-document: string.unquote('"\\e93e"');
$icon-dot: string.unquote('"\\e92e"');
$icon-download: string.unquote('"\\e902"');
$icon-edit-line: string.unquote('"\\e9b6"');
$icon-edit: string.unquote('"\\e957"');
$icon-email: string.unquote('"\\e960"');
$icon-error-circle-filled: string.unquote('"\\e915"');
$icon-exit: string.unquote('"\\e97d"');
$icon-external: string.unquote('"\\e949"');
$icon-eye-off: string.unquote('"\\e969"');
$icon-eye: string.unquote('"\\e951"');
$icon-filters: string.unquote('"\\e9ba"');
$icon-flight-landing-return: string.unquote('"\\ea0a"');
$icon-flight-landing: string.unquote('"\\e92f"');
$icon-flight-new-route: string.unquote('"\\e992"');
$icon-flight-takeoff-return: string.unquote('"\\ea09"');
$icon-flight-takeoff: string.unquote('"\\e92a"');
$icon-game: string.unquote('"\\e953"');
$icon-hearing-impaired: string.unquote('"\\e939"');
$icon-home: string.unquote('"\\e98c"');
$icon-hotel: string.unquote('"\\e91e"');
$icon-info-circle-filled: string.unquote('"\\e916"');
$icon-info-circle-outline: string.unquote('"\\e9bf"');
$icon-insurance-check: string.unquote('"\\e983"');
$icon-language: string.unquote('"\\e988"');
$icon-large-baggage: string.unquote('"\\e991"');
$icon-lifemiles-lm: string.unquote('"\\e950"');
$icon-lifemiles-points: string.unquote('"\\e94c"');
$icon-lifemiles: string.unquote('"\\e92c"');
$icon-lock: string.unquote('"\\e945"');
$icon-logout: string.unquote('"\\e948"');
$icon-lounge: string.unquote('"\\e947"');
$icon-loyalty-tag: string.unquote('"\\e946"');
$icon-lugagge: string.unquote('"\\e927"');
$icon-medical-assistance: string.unquote('"\\e943"');
$icon-menu-dots-vertical: string.unquote('"\\e9f0"');
$icon-menu-dots: string.unquote('"\\e9ef"');
$icon-menu-justify: string.unquote('"\\e976"');
$icon-minor-unattended: string.unquote('"\\e97a"');
$icon-minus-circle-filled: string.unquote('"\\e911"');
$icon-minus-circle-outline: string.unquote('"\\e90e"');
$icon-mobile-alert: string.unquote('"\\e941"');
$icon-new: string.unquote('"\\e993"');
$icon-offer: string.unquote('"\\e9b4"');
$icon-on-board-menu: string.unquote('"\\e984"');
$icon-parking: string.unquote('"\\e96d"');
$icon-passenger: string.unquote('"\\e979"');
$icon-pet: string.unquote('"\\e9c1"');
$icon-phone: string.unquote('"\\e962"');
$icon-pin-drop: string.unquote('"\\e96b"');
$icon-pin-keep: string.unquote('"\\e96c"');
$icon-pin-location: string.unquote('"\\e95f"');
$icon-plus-circle-filled: string.unquote('"\\e912"');
$icon-plus-circle-outline: string.unquote('"\\e90f"');
$icon-plus: string.unquote('"\\e919"');
$icon-poll: string.unquote('"\\e9be"');
$icon-printer: string.unquote('"\\e94f"');
$icon-priority-boarding: string.unquote('"\\e97c"');
$icon-promo: string.unquote('"\\e940"');
$icon-qualifying-miles: string.unquote('"\\e9a2"');
$icon-refresh: string.unquote('"\\e932"');
$icon-refunds: string.unquote('"\\e933"');
$icon-restaurant: string.unquote('"\\e9b8"');
$icon-search: string.unquote('"\\e963"');
$icon-seat-airplane: string.unquote('"\\e966"');
$icon-settings: string.unquote('"\\e952"');
$icon-shipping: string.unquote('"\\e95e"');
$icon-skis: string.unquote('"\\e9e9"');
$icon-social-facebook-circle: string.unquote('"\\e9a3"');
$icon-social-facebook-outline: string.unquote('"\\e9a7"');
$icon-social-instagram-circle: string.unquote('"\\e9a5"');
$icon-social-instagram-outline: string.unquote('"\\e9a9"');
$icon-social-linkedin-circle: string.unquote('"\\e903"');
$icon-social-linkedin-outline: string.unquote('"\\e90d"');
$icon-social-tiktok-circle: string.unquote('"\\e9c9"');
$icon-social-tiktok-outline: string.unquote('"\\e9ca"');
$icon-social-twitter-circle: string.unquote('"\\e9a4"');
$icon-social-twitter-outline: string.unquote('"\\e9a8"');
$icon-social-youtube-circle: string.unquote('"\\e924"');
$icon-speachbubble: string.unquote('"\\e936"');
$icon-star: string.unquote('"\\ea11"');
$icon-stop: string.unquote('"\\e934"');
$icon-swap-horizontal: string.unquote('"\\e92d"');
$icon-taxi: string.unquote('"\\e95b"');
$icon-time-change: string.unquote('"\\e931"');
$icon-toilet: string.unquote('"\\e97e"');
$icon-train: string.unquote('"\\e93f"');
$icon-user-circle: string.unquote('"\\e974"');
$icon-user: string.unquote('"\\e975"');
$icon-users-three: string.unquote('"\\e977"');
$icon-vip-access: string.unquote('"\\e9c6"');
$icon-wheelchair: string.unquote('"\\e97f"');
$icon-wifi-off: string.unquote('"\\e965"');
$icon-wifi: string.unquote('"\\e968"');
