@use 'design-system/assets/sass/core-theme';
@use 'design-system/assets/sass/common';
@use 'design-system/assets/ui_plus/icons/webfonts/iconfonts-styles.css';

.page {
  margin: 0;
  padding: 0;
}

.row-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0;
  margin-bottom: 0;
  // Remove when grid is clarified and finalized
  border: 1px dashed red;
}

.col {
  min-width: 0;
}

@media (max-width: 766px) {
  .row-grid {
    grid-template-columns: 1fr;
  }

  .row-grid > .col {
    grid-column: 1 / -1 !important;
  }
}
