@use 'design-system/assets/sass/core-theme';
@use 'design-system/assets/sass/common';
@use 'design-system/assets/ui_plus/icons/webfonts/iconfonts-styles.css';

.page {
  margin: 0;
  padding: 0;
}

.row-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0;
  margin-bottom: 0;
}

.row-grid.row-grid--with-rte {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.col {
  min-width: 0;
}

@media (max-width: 766px) {
  .row-grid {
    grid-template-columns: 1fr;
  }

  .row-grid > .col {
    grid-column: 1 / -1 !important;
  }
}
